@use"./variables.scss" as*;

.navigation-container {
    display: none;
}

.technical-skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lighten($color: $secondary-color, $amount: 5);

    &__title {
        padding: 60px;
        font-size: 40px;
        color: $septenary-color;
    }

    &__paragraph {
        padding: 15px 30px 15px 30px;
        color: $senary-color;
        text-align: center;
        width: 100%;
    }
}

.technical-skill-icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 20px 40px 20px;
    justify-items: center;
    width: 320px;
    height: auto;

    &__icon {
        padding: 3px;
    }

    &__icon:nth-child(odd) path {
        fill: $senary-color;
        transition: fill 0.3s ease;
    }

    &__icon:nth-child(odd):hover path {
        fill: $quinary-color;
    }

    &__icon:nth-child(even) path {
        fill: darken($color: $tertiary-color, $amount: 7);
        transition: fill 0.3s ease;
    }

    &__icon:nth-child(even):hover path {
        fill: darken($color: $quarternary-color, $amount: 7);
    }
}

.projects-center {
    background-color: lighten($color: $octinary-color, $amount: 8px);
}

.projects-center__title {
    color: $septenary-color;
    font-size: 40px;
    text-align: center;
    padding: 60px;
}

.project-containers {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 20px 20px 50px 20px;
    max-width: 425px;
}

.project-container {
    border: 10px solid $primary-color;
    box-shadow: darken($color: $tertiary-color, $amount: 5) 10px 10px;
    
    border-radius: 20px;
    background-color: $secondary-color;

    &__img {
        width: 100%;
    }

    &__buttons {
        background-color: $quinary-color;
        display: flex;
        border-radius: 20px 0px;
    }

    &__button {
        border: 5px solid $primary-color;
        border-radius: 0px 10px;
        width: 90px;
        height: 40px;
        margin: 10px;
        color: $senary-color;
        background-color: $secondary-color;
        transition: 0.3s ease;
    }

    &__button:hover {
        background-color: $senary-color;
        color: $secondary-color;
        border: 2px solid $primary-color;
    }

    &__text {
        padding: 4px;
        background-color: $secondary-color;

        &--title {
            font-size: 17px;
            color: $senary-color;
        }

        &--sub-title {
            font-size: 30px;
            color: $septenary-color;
        }

        &--paragraph {
            font-size: 12px;
            color: $septenary-color;
        }
    }
}

@media screen and (min-width:768px) {

    .navigation-container {
        background-color: $primary-color;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
        padding: 20px 20px 5px 20px;
        font-size: 13px;
        gap: 10px;

        &__link {
            text-decoration: none;
            color: $septenary-color;
            padding: 11px 25px;
            border-radius: 0px 10px;
            flex-direction: column;
            transition: ease 0.3s;
        }

        &__link:hover {
            border: 2px $senary-color dashed;
            background-color: $nonary-color;
            color: darken($color: $senary-color, $amount: 25);
        }

        &__button {
            padding: 11px 25px;
            background-color: $secondary-color;
            border: 2px $senary-color solid;
            border-radius: 0px 10px;
            color: $septenary-color;
            font-size: 13px;
            font-weight: bolder;
            transition: 0.3s ease;
        }

        &__button:hover {
            background-color: $quinary-color;
            color: $primary-color;
            border: 3px $octinary-color dashed;
        }
    }

    .technical-skill-icons {
        display: flex;
        width: 768px;

        &__icon {
            width: 100px;
            height: 100px;
        }
    }

    .projects-center {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__title {
            color: $septenary-color;
            font-size: 40px;
            padding: 90px 60px 60px 60px;

        }
    }

    .project-containers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 10px;
        gap: 20px 15px;
        max-width: 100%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .project-container {
        border: 10px solid $secondary-color;
        border-radius: 15px;
        width: 87%;
        justify-content: center;
        align-items: center;

        &__img {
            width: 100%;
        }

    }

}

@media screen and (min-width:1440px) {

    .navigation-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
    }

    .technical-skills-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .projects__center {
        display: flex;
        justify-content: center;
        width: 1440px;
        padding: 50px;
    }

    .project-containers {
        max-width: 1440px;
        display: grid;
        gap: 20px;
    }

    .project-container {
        width: 405px;
    }
}