@use"./variables.scss" as*;

.navigation-container {
    display: none;
}

.card {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        padding: 30px 20px 30px 20px;
        font-size: 30px;
        color: $septenary-color;
    }

    &__paragrah {
        padding: 15px 30px 15px 30px;
        color: $senary-color;
    }
}

.technical-skill-icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 20px 40px 20px;
    justify-items: center;
    width: 320px;
    height: auto;

    &__icon:nth-child(odd) path {
        fill: $senary-color;
        transition: fill 0.3s ease;
    }

    &__icon:nth-child(odd):hover path {
        fill: $tertiary-color;
    }

    &__icon:nth-child(even) path {
        fill: $tertiary-color;
        transition: fill 0.3s ease;
    }

    &__icon:nth-child(even):hover path {
        fill: $septenary-color;
    }
}

.projects-center__title {
    color: $septenary-color;
    font-size: 30px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 4px;
    max-width: 425px;

    &__item {
        border: 15px solid $secondary-color;
        border-radius: 20px;
    }

    &__img {
        width: 100%;
    }

    &__buttons {
        background-color: $quinary-color;
        display: flex;
    }

    &__button {
        border: 2px solid $septenary-color;
        border-radius: 10px;
        width: 90px;
        height: 40px;
        margin: 10px;
        color: $senary-color;
        background-color: $secondary-color;
        transition: 0.3s ease;
    }

    &__button:hover {
        background-color: $senary-color;
        color: $secondary-color;
        border: 2px solid $primary-color;
    }

    &__text {
        padding: 4px;
        background-color: $secondary-color;

        &--title {
            font-size: 20px;
            color: $senary-color;
        }

        &--sub-title {
            font-size: 35px;
            color: $septenary-color;
        }

        &--paragraph {
            font-size: 12px;
            color: $septenary-color;
        }
    }
}

@media screen and (min-width:768px) {


    .projects-center {
        display: flex;
        align-items: center;
        flex-direction: column;
    
        &__title{
            color: green;
            font-size: 40px;
            padding: 30px;

        }
    }

    .technical-skill-icons {
        display: flex;
        width: 768px;
    }

    .technical-skill-icons__icon {
        width: 100px;
        height: 100px;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0px;
        margin: 10px;
        gap: 7px;
        max-width: 768px;
        justify-items: center;

        &__item {
            border: 10px solid $secondary-color;
            border-radius: 15px;
            width: 100%;
        }

        &__img {
            width: 100%;
        }

        &__text--sub-title{
          font-size: 30px;  
        }

    }

    .navigation-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;

        &__button {
            text-decoration: none;
            color: pink;
            padding: 11px 25px;
            border-radius: 4px;
            flex-direction: column;
        }
    }

}

@media screen and (min-width:1440px) {

    .technical-skills-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .navigation-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
    }

    .projects__center {
        display: flex;
        justify-content: center;
        width: 1440px;
        padding: 50px;
    }

    .project-container {
        max-width: 1440px;
        display: grid;
        gap: 20px;

    }

    .project-container__item {
        width: 405px;
    }

}