@use"./variables.scss" as*;

.technical-skills-icons {
    display: grid;
    grid-template-rows: 122px 122px 122px;
    grid-template-columns: 122px 122px 122px;
    padding: 100px;
    justify-content: center;
}

.project-container__item {
    border: 15px solid $secondary-color;
    border-radius: 20px;
}

.project-container__img {
    width: 100%;
}

.project-container__buttons {
    background-color: $quinary-color;
}

.project-container__button {
    border: 2px solid $septenary-color;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    margin: 10px;
    color: $senary-color;
    background-color: $secondary-color;
    transition: 0.3s ease;
}

.project-container__button:hover {
    background-color: $senary-color;
    color: $secondary-color;
    border: 2px solid $primary-color;
}


.project-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 70px;
    padding: 30px;
    padding-bottom: 100px;
    align-items: center;
}

.project-container__text {
    padding: 10px;
    background-color: $secondary-color;

    &--title {
        font-size: 20px;
        color: $senary-color;
    }

    &--sub-title {
        font-size: 40px;
        color: $septenary-color;
    }

    &--paragraph {
        color: $septenary-color;
    }
}


@media screen and (min-width:768px) {

    .project-container {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        padding-left: 60px;

    }

    .navigation-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;

        &__button {
            text-decoration: none;
            color: pink;
            padding: 11px 25px;
            border-radius: 4px;
            flex-direction: column;
        }

        &__button--projects:hover {
            background-color: aquamarine;
        }

        @media screen and (min-width:1440px) {
            .technical-skills-icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            .navigation-container {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                align-items: flex-end;
            }

            &__button {
                text-decoration: none;
                color: pink;
                padding: 11px 25px;
                flex-direction: column;
            }

        }
    }
}