$primary-color: white;
$secondary-color: lightcyan;
$tertiary-color: #b6ffb7;
$quarternary-color: rgb(230, 200, 255);
$quinary-color: rgb(184, 185, 255);
$senary-color: rgb(103, 153, 255);
$septenary-color: rgb(39, 38, 104);
$octinary-color: #d5ff96;
$nonary-color : #f2fee0;

$toggleSize: 40px;
$toggleMargin: 10px;
$toggleLine: 4px;
$toggleColor: $senary-color;