$primary-color: white;
$secondary-color: rgb(240, 232, 255);
$tertiary-color: #f4d2ff;
$quarternary-color: rgb(229, 197, 255);
$quinary-color: rgb(218, 181, 255);
$senary-color: rgb(199, 147, 238);
$septenary-color:rgb(190, 99, 255)
