@use"./variables.scss" as*;
@use"./components.scss";

* {
    padding: 0;
    border: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    display: none;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        padding: 50px;
    }

    h2 {
        font-size: 60px;
        padding: 30px;
    }
}

.technical-skill-icon-container {
    border: 2px pink;
    display: grid;
    grid-template-rows: 122px 122px 122px;
    grid-template-columns: 122px 122px 122px;
    padding: 100px;
    justify-content: center;
}



footer {
    background-color: $tertiary-color;
    height: 216px;
}



.footer__icons {
    display: flex;
    flex-wrap: wrap;
    width: 157px;
    height: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width:768px) {
    .navigation-container {
        border: 2px solid white;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
    }

    .project-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 10px;
    }

    footer {
        background-color: $tertiary-color;
        height: 216px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer__email {
        color: $primary-color;
        padding: 35px;
    }
}

@media screen and (min-width:1440px) {

    .technical-skill-icon-container {
        display: flex;
        background-color: aquamarine;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .navigation-container {
        border: 2px solid red;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
    }

    .navigation__button {
        text-decoration: none;
        background-color: $primary-color;
        color: $tertiary-color;
        padding: 11px 25px;
        border: $primary-color solid 2px;
        border-radius: 4px;
        flex-direction: column;
    }

    footer {
        background-color: $tertiary-color;
        height: 155px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 60px;

    }
}