.technical-skill-icon-container {
  display: grid;
  grid-template-rows: 122px 122px 122px;
  grid-template-columns: 122px 122px 122px;
  padding: 100px;
  justify-content: center;
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 100px;
  align-items: center;
}
.project-container--item {
  width: 373px;
}

@media screen and (min-width: 768px) {
  .project-container {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    padding-left: 60px;
  }
  .navigation__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }
  .navigation__container__button {
    text-decoration: none;
    color: black;
    padding: 11px 25px;
    border-radius: 4px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  .technical-skill-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navigation__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }
  .navigation__container__button {
    text-decoration: none;
    color: black;
    padding: 11px 25px;
    flex-direction: column;
  }
}
* {
  padding: 0;
  border: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: none;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
header h1 {
  padding: 50px;
  text-align: center;
}
header h2 {
  font-size: 60px;
  padding: 30px;
  text-align: center;
}
header img {
  display: none;
}

.main__title--1 {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.main__title--2 {
  display: none;
}
.main__image {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.main__paragraph--paragraph--1 {
  padding: 50px;
}

.card .card__header {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 30px;
}
.card .card__paragrah {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.footer {
  background-color: black;
  height: 216px;
  padding: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.footer__icons {
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .navigation__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  header img {
    display: block;
  }
  .main {
    display: flex;
    flex-direction: row;
  }
  .main__title--1 {
    display: none;
  }
  .main__title--2 {
    display: block;
    padding-left: 40px;
  }
  .main__image {
    flex-grow: 2;
  }
  .footer {
    background-color: black;
    height: 216px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__email {
    color: white;
    padding: 35px;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    background-color: black;
    height: 155px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 100px;
  }
}/*# sourceMappingURL=style.css.map */