@use"./variables.scss" as*;
@use"./components.scss";

* {
    padding: 0;
    border: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: none;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

    h1 {
        padding: 50px;
        text-align: center;
    }

    h2 {
        font-size: 60px;
        padding: 30px;
        text-align: center;
    }

    img {
        display: none;
    }
}

.main {

    &__title--1 {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    &__title--2 {
        display: none;
    }

    &__image {
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    &__paragraph--paragraph--1 {
        padding: 50px;
    }
}

.card {

    .card__header {
        display: flex;
        justify-content: center;
        padding: 50px;
        font-size: 30px;
    }

    .card__paragrah {

        display: flex;
        justify-content: center;
        padding: 50px;
    }
}

.technical-skill-icon-container {
    display: grid;
    grid-template-rows: 122px 122px 122px;
    grid-template-columns: 122px 122px 122px;
    padding: 100px;
    justify-content: center;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 70px;
    padding-bottom: 100px;
    align-items: center;

    &--item {
        width: 373px;
    }
}

.footer {
    background-color: $tertiary-color;
    height: 216px;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    &__icons {
        display: flex;
        padding: 0;
        margin: 0;
    }
}




@media screen and (min-width:768px) {

    .navigation__container {
        border: 2px solid white;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
    }

    header {
        img {
            display: block;
        }

        display: flex;
        flex-direction: row;
    }

    .main {
        display: flex;
        flex-direction: row;

        &__title--1 {
            display: none;
        }

        &__title--2 {
            display: block;
            padding-left: 40px;
        }


        &__image {
            flex-grow: 2;
        }
    }

    .project-container {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        padding-left: 60px;

    }

    .footer {
        background-color: $tertiary-color;
        height: 216px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        &__email {
            color: $primary-color;
            padding: 35px;
        }
    }
}

@media screen and (min-width:1440px) {

    .technical-skill-icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    .navigation__container {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;

        &__button {
            text-decoration: none;
            background-color: $primary-color;
            color: $tertiary-color;
            padding: 11px 25px;
            border: $primary-color solid 2px;
            border-radius: 4px;
            flex-direction: column;
        }
    }

    footer {
        background-color: $tertiary-color;
        height: 155px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 100px;


    }
}