.technical-skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faffff;
}
.technical-skills-card__title {
  padding: 60px;
  font-size: 40px;
  color: rgb(39, 38, 104);
}
.technical-skills-card__paragraph {
  padding: 15px 30px 15px 30px;
  color: rgb(103, 153, 255);
  text-align: center;
  width: 100%;
}

.technical-skill-icons {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 20px 40px 20px;
  justify-items: center;
  width: 320px;
  height: auto;
}
.technical-skill-icons__icon {
  padding: 3px;
}
.technical-skill-icons__icon:nth-child(odd) path {
  fill: rgb(103, 153, 255);
  transition: fill 0.3s ease;
}
.technical-skill-icons__icon:nth-child(odd):hover path {
  fill: rgb(184, 185, 255);
}
.technical-skill-icons__icon:nth-child(even) path {
  fill: #92ff94;
  transition: fill 0.3s ease;
}
.technical-skill-icons__icon:nth-child(even):hover path {
  fill: #d6a4ff;
}

.projects-center {
  background-color: #e5ffbf;
}

.projects-center__title {
  color: rgb(39, 38, 104);
  font-size: 40px;
  text-align: center;
  padding: 60px;
}

.project-containers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 20px 20px 50px 20px;
  max-width: 425px;
}

.project-container {
  border: 10px solid white;
  box-shadow: #9dff9e 10px 10px;
  border-radius: 20px;
  background-color: lightcyan;
}
.project-container__img {
  width: 100%;
}
.project-container__buttons {
  background-color: rgb(184, 185, 255);
  display: flex;
  border-radius: 20px 0px;
}
.project-container__button {
  border: 5px solid white;
  border-radius: 0px 10px;
  width: 90px;
  height: 40px;
  margin: 10px;
  color: rgb(103, 153, 255);
  background-color: lightcyan;
  transition: 0.3s ease;
}
.project-container__button:hover {
  background-color: rgb(103, 153, 255);
  color: lightcyan;
  border: 2px solid white;
}
.project-container__text {
  padding: 4px;
  background-color: lightcyan;
}
.project-container__text--title {
  font-size: 17px;
  color: rgb(103, 153, 255);
}
.project-container__text--sub-title {
  font-size: 30px;
  color: rgb(39, 38, 104);
}
.project-container__text--paragraph {
  font-size: 12px;
  color: rgb(39, 38, 104);
}

@media screen and (min-width: 768px) {
  .technical-skill-icons {
    display: flex;
    width: 768px;
  }
  .technical-skill-icons__icon {
    width: 100px;
    height: 100px;
  }
  .projects-center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .projects-center__title {
    color: rgb(39, 38, 104);
    font-size: 40px;
    padding: 90px 60px 60px 60px;
  }
  .project-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    gap: 20px 15px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  .project-container {
    border: 10px solid lightcyan;
    border-radius: 15px;
    width: 87%;
    justify-content: center;
    align-items: center;
  }
  .project-container__img {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .technical-skills-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .projects__center {
    display: flex;
    justify-content: center;
    width: 1440px;
    padding: 50px;
  }
  .project-containers {
    max-width: 1440px;
    display: grid;
    gap: 20px;
  }
  .project-container {
    width: 405px;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  border: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway", Calibri;
}

.desktop-navigation-container {
  display: none;
}

.nav-container {
  position: sticky;
  top: 0;
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  overflow: visible;
  outline: none;
}
.nav-container.is-active .nav-toggle:before, .nav-container.is-active .nav-toggle:after {
  box-shadow: none;
}
.nav-container.is-active .nav-toggle:before {
  transform: rotate(-45deg);
}
.nav-container.is-active .nav-toggle:after {
  transform: rotate(45deg);
}
.nav-container.is-active .nav-links {
  transform: translate(0, 0);
}

.nav-toggle {
  position: sticky;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
  z-index: 2;
}
.nav-toggle:hover {
  cursor: pointer;
}
.nav-toggle:before, .nav-toggle:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 4px;
  background: rgb(103, 153, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-toggle:before {
  box-shadow: 0 13.3333333333px 0 0 rgb(103, 153, 255);
}
.nav-toggle:after {
  box-shadow: 0 -13.3333333333px 0 0 rgb(103, 153, 255);
}

.nav-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 85vw;
  height: auto;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.3s ease;
  transform: translate(calc(-100% - 50px), 0);
  background: lightcyan;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
}

.nav-link {
  padding: 10px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.nav-link:hover {
  border-radius: 10px 0px;
  text-decoration: none;
  background-color: #efffff;
  border: 2px dashed rgb(184, 185, 255);
}
.nav-link:active {
  color: #acff30;
}
.nav-link__chevron {
  padding: 10px;
}
.nav-link__text {
  padding: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 70px 30px;
  color: rgb(39, 38, 104);
  background-color: #f4e7ff;
}
.header__image {
  display: none;
}
.header__title {
  padding: 25px 10px 15px 10px;
  font-size: 16px;
  height: 20px;
}
.header__sub-title {
  font-size: 28px;
  padding: 25px 10px 15px 10px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d5ff96;
}
.about-me__title--mobile {
  display: flex;
  justify-content: center;
  padding: 60px;
  font-size: 40px;
  color: rgb(103, 153, 255);
}
.about-me__title--desktop {
  display: none;
}
.about-me__image {
  width: 85%;
  padding: 15px;
}
.about-me__paragraph {
  padding: 10px 25px 40px 25px;
  font-size: 15px;
  color: rgb(103, 153, 255);
}

.footer {
  background-color: white;
  height: 216px;
  padding: 50px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.footer__email {
  color: rgb(39, 38, 104);
  padding: 35px;
}
.footer__icons {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
  background-color: white;
}
.footer__icon {
  width: 60px;
  height: 60px;
}
.footer__icon--github-icon {
  fill: rgb(103, 153, 255);
  width: 70px;
  height: 70px;
  transition: fill 0.3s ease;
}
.footer__icon--github-icon:hover {
  fill: lightcyan;
}
.footer__icon--cv-icon rect {
  fill: #b6ffb7;
  transition: fill 0.3s ease;
}
.footer__icon--cv-icon path {
  fill: rgb(103, 153, 255);
  transition: fill 0.3s ease;
}
.footer__icon--cv-icon:hover rect {
  fill: rgb(184, 185, 255);
}
.footer__icon--cv-icon:hover path {
  fill: lightcyan;
}
.footer__icon--linkedin-icon {
  fill: #b6ffb7;
  transition: fill 0.3s ease;
}
.footer__icon--linkedin-icon:hover {
  fill: rgb(184, 185, 255);
}

@media screen and (min-width: 768px) {
  .nav-container {
    display: none;
  }
  .burger-menu-nav {
    display: none;
  }
  .desktop-navigation__container {
    display: block;
  }
  .desktop-navigation-container {
    background-color: #efdcff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    padding: 7px 20px 5px 20px;
    font-size: 13px;
    gap: 10px;
  }
  .desktop-navigation-container__link {
    text-decoration: none;
    color: rgb(39, 38, 104);
    padding: 11px 25px;
    border-radius: 0px 10px;
    flex-direction: column;
    transition: ease 0.3s;
  }
  .desktop-navigation-container__link:hover {
    border: 2px rgb(103, 153, 255) dashed;
    background-color: #f2fee0;
    color: #004ce7;
  }
  .desktop-navigation-container__button {
    padding: 11px 25px;
    background-color: lightcyan;
    border: 2px rgb(103, 153, 255) solid;
    border-radius: 0px 10px;
    color: rgb(39, 38, 104);
    font-size: 13px;
    font-weight: bolder;
    transition: 0.3s ease;
  }
  .desktop-navigation-container__button:hover {
    background-color: rgb(184, 185, 255);
    color: white;
    border: 3px #d5ff96 dashed;
  }
  .header {
    padding: 30px 60px 40px 60px;
    text-align: start;
    background-color: white;
    display: flex;
    flex-direction: row;
  }
  .header__image {
    display: block;
    width: 240px;
    height: auto;
  }
  .about-me {
    display: flex;
    flex-direction: row;
    padding: 60px;
    background-color: #d5ff96;
  }
  .about-me__image {
    width: 85%;
    padding: 0%;
  }
  .about-me__title--mobile {
    display: none;
  }
  .about-me__title--desktop {
    display: block;
    font-size: 40px;
    padding: 5px 25px;
    color: rgb(103, 153, 255);
  }
  .about-me__paragraph {
    font-size: 11px;
    padding: 5px 25px;
  }
  .footer {
    background-color: white;
    height: 216px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__email {
    color: rgb(39, 38, 104);
    padding: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .desktop-navigation-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
  }
  .header {
    padding: 0px 130px 0px 130px;
  }
  .header__sub-title {
    font-size: 45px;
  }
  .header__image {
    width: 400px;
  }
  .about-me {
    padding: 100px;
  }
  .about-me__image {
    max-width: 100%;
    height: auto;
  }
  .about-me__title--desktop {
    font-size: 36px;
  }
  .about-me__paragraph {
    padding: 10px 15px 10px 15px;
    font-size: 20px;
  }
  .footer {
    background-color: white;
    height: 155px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */